<section class="section">
    <div class="section__container">
        <h3 class="section__title">Edit Products</h3>
        <%= simple_form_for @product, :html => {:multipart => true, class: 'my-form clearfix'} do |f| %>
            <%= f.input :name, label: "Name" %>
            <%= f.input :price %>
            <%= f.input :old_price %>
            <%= f.input :short_description %>
            <%= f.input :full_description %>
            <%= f.button :submit %>
        <% end %>
    </div>
</section>
