<section class="section">
    <div class="section__container">
        <h3 class="section__title">Our Products</h3>
        <table class="table my-table" id="products">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Old Price</th>
                    <th>Short Description</th>
                    <th>Full Description</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |product| %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.old_price %></td>
                    <td><%= product.short_description %></td>
                    <td><%=product.full_description %></td>
                    <td class="text-center"><%= link_to "Show", product, class:"btn" %>
                        <%= link_to "Edit", edit_product_path(product), class:"btn" %>
                        <%= link_to "Delete", product_path(product), class:"btn", method: :delete, data: {confirm: "Are you sure?"} %> </td>
                </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</section>
