<section class="section">
    <div class="section__container">
        <h3 class="section__title"><%= @product.name %></h3>

        <ul class="list-group">
          <li class="list-group-item clearfix">
            <span class="list-group-title">Product Name:</span>
            <span class="list-group-name"><%= @product.name %></span>
          </li>
          <li class="list-group-item clearfix">
            <span class="list-group-title">Product Price:</span>
            <span class="list-group-name"><%= @product.price %></span>
          </li>
          <li class="list-group-item clearfix">
            <span class="list-group-title">Old Price:</span>
            <span class="list-group-name"><%= @product.old_price %></span>
          </li>
          <li class="list-group-item clearfix">
            <span class="list-group-title">Short Description:</span>
            <span class="list-group-name"><%= @product.short_description %></span>
          </li>
          <li class="list-group-item clearfix">
            <span class="list-group-title">Full Description:</span>
            <span class="list-group-name"><%= @product.full_description %></span>
          </li>
          <li class="list-group-item clearfix">
            <%= link_to "Delete", product_path(@product), class:"btn pull-right", method: :delete, data: {confirm: "Are you sure?"} %>
          </li>
        </ul>

    </div>
</section>
