/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic);

/* RESETS */

table.dataTable.no-footer {
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #efeeee;
}

/* NAVBAR */

.navbar {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    margin: 0;
}

/* SECTIONS */
.section {
    padding: 2% 0;
}

.section__container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.section__title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
}

.notice{
    margin:0;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3f51b5;
    border-radius: 0;
}

/* FORM */
.my-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px 40px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .form-control {
        height: 30px;
        border-radius: 0;
    }

    .control-label {
        font-size: 12px;
        text-transform: uppercase;
    }

    .btn {
        float: right;
    }
}

/* TABLE */

.dataTables_filter {
    margin-bottom: 15px;
}

table.my-table {
    font-size: 13px;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px !important;
    border-collapse: collapse;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    th {
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: 8px;
        vertical-align: bottom;
        letter-spacing: 0;
        text-transform: uppercase;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, 0.54);
    }

    tr {
        position: relative;
        height: 48px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: .28s;
        transition-property: background-color;

        &:hover {
            background-color: #ddd !important;
        }

        &.odd{
            background-color: #F3ECEC;
        }
    }

    td {
        position: relative;
        box-sizing: border-box;
        height: 48px;
        padding-top: 12px;
        padding-left: 24px;
        vertical-align: middle;
        vertical-align: middle !important;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border: none;
    }

    .btn {
        font-size: 10px;
        font-weight: bold;
        line-height: 22px;
        height: 26px;
        padding: 4px;
        min-width: 55px;
        margin: 0 5px;
    }
}

.btn {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-width: 64px;
    height: 36px;
    margin: 0;
    padding: 0 16px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
    color: #000;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgba(158, 158, 158, 0.2);
    background: #ddd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    will-change: box-shadow;

    &:hover {
        color: #fff;
        background-color: #3f51b5;
    }
}

.list-group {
    font-size: 15px;
    position: relative;
    max-width: 550px !important;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.list-group-item:hover {
    background-color: #ddd;
}

.list-group-item:last-child:hover {
    background-color: inherit;
}

.list-group-title {
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
}

.list-group-name {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
    white-space: normal;
}
